.container.boat{ 

.squareRed {
    width: 75px;
    height: 75px;
    background-color: #DB4545;
    transform: rotate(90deg);
    left: 61.2%;
    top: 60.8%;
    transition: all 0.5s ease-in-out;
}

.triangleGreen {
    width: 0;
    height: 0;
    border-bottom: 107px solid #519e30;
    border-right: 107px solid transparent;
    position: absolute;
    transform: rotate(-45deg);
    top: 50.1%;
    left: 34.8%;
    transition: all 0.5s ease-in-out;
}

.triangleOrange {
    width: 0;
    height: 0;
    border-bottom: 53px solid orange;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    position: absolute;
    transform: rotate(135deg);
    top: 66.9%;
    left: 46.8%;
    transition: all 0.5s ease-in-out;
}

.triangleYellow {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #fef69d;
    position: absolute;
    transform: rotate(135deg);
    left: 61%;
    top: 24%;
    z-index: 3000;
    transition: all 0.5s ease-in-out;
}

.trapezePurple {
    width: 104px; 
    height: 53px; 
    background-color: #f4b0ed; 
    transform: rotate(45deg) skew(315deg);
    position: absolute;
    top: 63.2%;
    left: 20%;
    transition: all 0.5s ease-in-out;
}

.triangleLime {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #84f998;
    position: absolute;
    transform: rotate(225deg);
    z-index: 8000;
    top: 45.5%;
    left: 39.5%;
    transition: all 0.5s ease-in-out;
}

.triangleBlue {
    width: 0;
    height: 0;
    border-top: 53px solid transparent;
    border-bottom: 53px solid transparent;
    border-left: 53px solid #1AA6D9;
    position: absolute;
    transform: rotate(-135deg);
    left: 75%;
    top: 53.9%;
    transition: all 0.5s ease-in-out;
}

} 
