.container.swan{

.squareRed {
    width: 75px;
    height: 75px;
    background-color: #DB4545;
    transform: rotate(45deg);
    top: 40%;
    left: 27%;
    transition: all 0.5s ease-in-out;

}

.triangleGreen {
    width: 0;
    height: 0;
    border-bottom: 107px solid #519e30;
    border-right: 107px solid transparent;
    transform: rotate(45deg);
    top: 64%;
    left: 23.5%;
    transition: all 0.5s ease-in-out;

}

.triangleOrange {
    width: 0;
    height: 0;
    border-bottom: 53px solid orange;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    transform: rotate(90deg);
    top: 53.5%;
    left: 18%;
    transition: all 0.5s ease-in-out;

}

.triangleYellow {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #fef69d;
    transform: rotate(90deg);
    top: 60%;
    left: 34.6%;
    transition: all 0.5s ease-in-out;

}

.trapezePurple {
    width: 104px; 
    height: 53px; 
    background-color: #f4b0ed; 
    transform:rotate(90deg) skew(315deg);
    top: 26%;
    left: 30%;
    transition: all 0.5s ease-in-out;

}

.triangleLime {
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #84f998;
    transform: rotate(45deg);
    top: 44%;
    left: 41%;
    transition: all 0.5s ease-in-out;

}

.triangleBlue {
    width: 0;
    height: 0;
    border-top: 53px solid transparent;
    border-bottom: 53px solid transparent;
    border-left: 53px solid #1AA6D9;
    transform: rotate(45deg);
    left: 25.1%;
    top: 16%;
    transition: all 0.5s ease-in-out;

}

}